
{% csrf_token %}

<html>
    <div class="m-5">
        <h1 class="center">Casorio!</h1>
        <div class="d-flex justify-content-between mt-5">
            <div class="col-3">
                <div id="dia" class='card mx-1 center'>{{dias}}</div>
                <div class='center mt-2'>Dias</div>
            </div>
            <div class="col-3">
                <div id="hora" class='card mx-1 center'>{{horas}}</div>
                <div class='center mt-2'>Horas</div>
            </div>
            <div class="col-3">
                <div id="minuto" class='card mx-1 center'>{{minutos}}</div>
                <div class='center mt-2'>Minutos</div>
            </div>
            <div class="col-3">
                <div id="segundo" class='card mx-1 center'>{{segundos}}</div>
                <div class='center mt-2'>Segundos</div>
            </div>        
        </div>
    </div>

</html>

{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}"
<link rel="stylesheet" href="{% static 'css/animations.css' %}"

<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/base.js' %}"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

